#contact * {
	padding: 7px;
	margin: 7px;
}
#contact {
	overflow-x: hidden;
}
.contact-info {
	background-color: white;
}
#contact h5 {
	margin-bottom: 10px;
}
#contact > iframe {
	width: 98vw;
}
.contact-info i {
	font-size: 30px;
	color: white;
	border: 20px solid #17d2d9ff;
	background-color: #17d2d9ff;
	box-sizing: border-box;
	line-height: 60px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	border: 6px solid #fff;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	width: 80px;
	height: 80px;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.contact-info i:hover {
	background-color: #2fc0c2;
}
.contact-content {
	display: flex;
	align-items: flex-start;
	padding: 0 !important;
	margin: 0 !important;
}

.contact-content p {
	line-height: 0.3;
}
.contact-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.contact-message {
	margin-left: 0 !important;
	padding-left: 0 !important;
	margin-right: 0 !important;
	padding-right: 0 !important;
}
@media screen and (max-width: 990px) {
	.contact-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	#contact > iframe {
		width: 96vw;
	}
}
