#navbar {
  display: flex;
  justify-items: center;
  background-color: white;
  width: 100%;
}
svg {
  color: #17d2d9ff;
  font-size: 2rem;
  margin-top: -3px;
}

#navbar > h1 {
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
  color: #17d2d9ff;
  padding: 10px 0 10px 10px;
  height: 10vh;
  font-family: "Roboto", sans-serif;
}

#navbarSupportedContent > ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  align-items: center;
}
#navbarSupportedContent > ul > li {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.42857143;
  color: #999999ff;
  transition: 0.6s;
  position: relative;
}

#navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #17d2d9ff;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
  position: absolute;
}
#navbar ul li:hover::after {
  width: 100%;
}
#navbar ul li:hover {
  color: black;
  text-decoration: none;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos > a {
  font-size: 25px;
  margin-left: 10px;
  font-size: 24px;
}

@media screen and (max-width: 990px) {
  #navbar ul li::after {
    content: "";
    height: 3px;
    width: 100%;
    background: #17d2d9ff;
    left: 0;
    bottom: -5px;
    position: absolute;
  }
  #navbarSupportedContent > ul > li {
    padding-top: 5px;
  }
  #navbarSupportedContent > ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 80vh;
    margin-left: auto;
    align-items: stretch;
  }
}
