* {
  margin: 0;
  padding: 0;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  text-align: center;
  background-color: white;
  border-top: 2px solid #e3e3e3ff;
  width: 100%;
  padding-top: 0.6rem;
}
.whatsapp {
  visibility: hidden;
}

@media screen and (max-width: 990px) {
  .whatsapp {
    visibility: visible;
  }
  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 60px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 10;
  }

  .my-float {
    margin-top: 16px;
  }
}
