* {
  margin: 0;
  padding: 0;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
.bl-color {
  color: #17d2d9ff;
}

.footer {
  height: 2.5rem;
  text-align: center;
  background-color: #fffef7;
  border-top: 2px solid #e3e3e3ff;
  width: 100%;
  padding-top: 0.6rem;
}
.whatsapp {
  visibility: hidden;
}
.rounded-btn {
  width: auto;
  text-transform: uppercase;
  font-size: 2em;
  padding: 10px 10px;
  text-align: center;
  border: 3px solid;
  border-image-source: linear-gradient(to right, #30cc8b, #69bcf4);
  border-image-slice: 1;
  background: transparent;
  color: white;
  margin: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  border-radius: 0;
}
.rounded-btn span {
  border-radius: 30;
  height: 100%;
  width: 0;
  z-index: -1;
  position: absolute;
  background: linear-gradient(to right, #30cc8b, #69bcf4);
  transition: 0.6s;
  bottom: 0;
  left: 0;
}
.rounded-btn:hover span {
  width: 100%;
}
.rounded-btn:hover {
  border: none;
  color: black;
}
@media screen and (max-width: 990px) {
  .whatsapp {
    visibility: visible;
  }
  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 10;
  }

  .my-float {
    margin-top: 16px;
  }
}
